<div class="flex flex-col items-center justify-center gap-5">
  <div class="flex flex-row items-center justify-evenly gap-10 w-full mt-5">
    <img class="w-[150px]" src="../../../assets/logo.svg" alt="logo" />
    <div
      class="flex flex-row items-center justify-center gap-4 bg-[#ebf6fc] w-[600px] rounded-full"
    >
      <i
        class="fa-solid fa-magnifying-glass pl-4 fa-xl"
        style="color: #0092db"
      ></i>
      <input
        class="w-[560px] bg-[#ebf6fc] rounded-full pt-4 pb-4 border-none outline-none focus:outline-none"
        type="text"
        placeholder="Ürün, kategori veya marka arayın"
      />
    </div>
    <div class="flex flex-row items-center justify-center gap-4">
      <div
        class="p-3 rounded-full border-[1px] border-solid border-[#008acf47] cursor-pointer hover:bg-[#ebf6fc] hover:border-[#ebf6fc]"
      >
        <i class="fa-regular fa-heart fa-xl" style="color: #0092db"></i>
      </div>
      <div
        class="flex flex-row items-center justify-center gap-4 rounded-full border-[1px] p-4 border-solid border-[#008acf47] cursor-pointer"
      >
        <i class="fa-regular fa-user fa-lg" style="color: #0092db"></i>
        <p class="font-poppins text-[#0092db]">Hesabım</p>
      </div>
      <div
        class="flex flex-row items-center justify-center gap-2 text-[#0092db] bg-[#ebf6fc] p-4 rounded-full cursor-pointer hover:bg-[#008acf] hover:text-[#ffffff]"
      >
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        <p class="font-poppins">Sepetim</p>
      </div>
    </div>
  </div>
  <div class="w-[89%]">
    <app-header-tags
      class="w-[%100]"
      (tagHovered)="onTagHover($event)"
      (tagLeft)="onTagLeave()"
    ></app-header-tags>
  </div>
  <div
    *ngIf="showCategoryMenu"
    @fadeSlide
    (mouseenter)="onPanelEnter()"
    (mouseleave)="onPanelLeave()"
  >
    <app-catergories></app-catergories>
  </div>
</div>
