<div class="flex flex-row items-center justify-between gap-10 w-full mt-5">
  <div class="flex flex-row items-center justify-center gap-8">
    <div
      class="flex flex-row items-center justify-center gap-2 text-[#686868] font-bold text-lg"
    >
      <p>Kategoriler</p>
      <i class="fa-solid fa-angle-down pt-[5px]"></i>
    </div>
    <div
      class="flex flex-row items-center justify-center gap-2 text-[#686868] font-bold text-lg"
    >
      <p>Keşfet</p>
      <i class="fa-solid fa-angle-down pt-[5px]"></i>
    </div>
    <div
      class="flex flex-row items-center justify-center gap-2 text-[#686868] font-bold text-lg"
    >
      <p>Hediye</p>
      <i class="fa-solid fa-angle-down pt-[5px]"></i>
    </div>
    <p class="font-bold text-lg text-[#0091d5] cursor-pointer">
      İnternete Özel Ürünler
    </p>
    <p class="font-bold text-lg text-[#f28e00] cursor-pointer">Kampanyalar</p>
    <p class="font-bold text-lg text-[#f28e00] cursor-pointer">Outlet</p>
  </div>
  <div class="flex flex-row items-center justify-center gap-10 ml-[194px]">
    <div class="flex flex-row items-center justify-center gap-3 cursor-pointer">
      <img
        src="https://cdn05.e-bebek.com/media/c/siparisim-nerede-logo.png"
        alt="Siparişim nerede"
      />
      <p class="font-poppins text-[12px] font-semibold text-[#686868]">
        SİPARİŞİM NEREDE
      </p>
    </div>
    <div class="flex flex-row items-center justify-center gap-3 cursor-pointer">
      <img
        src="https://cdn05.e-bebek.com/media/c/enyakin-ebebek-logo.png"
        alt="En yakın eBebek"
      />
      <p class="font-poppins text-[12px] font-semibold text-[#686868]">
        EN YAKIN eBEBEK
      </p>
    </div>
  </div>
</div>
